# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="http://localhost:3001"

# PORT: Server port
PORT=3000

# MongoDB Atlas Connection
MONGO_URI="mongodb+srv://imrandmpl6300_db_user:gcoKg3tFaeKhtLvT@cluster0.uvwvizd.mongodb.net/OnlineDegreeDiploma?retryWrites=true&w=majority&appName=Cluster0"
NODE_ENV=production
# JWT Secret
JWT_SECRET="online_degree_diploma_super_secret_jwt_key_2026"

# Default Admin Credentials
ADMIN_EMAIL="admin@onlinedegreediploma.com"
ADMIN_PASSWORD="adminpassword123"

# SMTP Email Configuration
EMAIL_HOST="smtp.hostinger.com"
EMAIL_PORT=465
EMAIL_USER="admissions@onlinedegreediploma.com"
EMAIL_PASS="Admissions@2026#"
EMAIL_FROM="Online Degree Diploma <admissions@onlinedegreediploma.com>"
ADMIN_RECEIVER="admissions@onlinedegreediploma.com"